:root {
  --background-color: #f3f5f7;
  --font: "Open Sans", sans-serif;
  --primary-color: #04359e;
  --primary-color-hover: #0940b6;
  --primary-color-light: #c4d4fa;
  --secondary-color: #767676;
  --secondary-color-light: #ccc7c7;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--font);
}

.main-container {
  display: flex;
  height: 82.9vh;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background-color: var(--primary-color);
  color: white;
}

.text-container {
  display: flex;
  margin: 10px;
  align-items: center;
}

.title {
  font-size: 30px;
  font-style: oblique;
  margin: 20px;
  cursor: pointer;
}

.text {
  margin: 10px;
  cursor: pointer;
  font-size: 14px;
}

.routine-card {
  border: 1px solid var(--secondary-color-light);
  width: 800px;
  height: 450px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.routine-information-container {
  display: flex;
}

.routine-title-container {
  width: 780px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--secondary-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.routine-title {
  color: white;
  font-size: 25px;
}

.routine-author {
  color: white;
  font-size: 18px;
}

.routine-details-container {
  width: 400px;
}

.input-container {
  margin: 10px;
  width: 200px;
}

.details-input {
  border-radius: 5px;
  border: 0.1px solid var(--primary-color);
  height: 25px;
  width: 100%;
  transition: background-color 0.3s;
  margin-top: 5px;
}

.details-select {
  border-radius: 5px;
  border: 0.1px solid var(--primary-color);
  height: 30px;
  width: 205px;
  margin-top: 5px;
}

.routine-exercices-container {
  width: 400px;
  margin-top: 5px;
  padding-top: 3px;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid var(--secondary-color-light);
  column-width: 175px;
  text-align: center;
  height: 25px;
}

.column-tag {
  font-weight: bold;
  background-color: #e5e5e5;
}

.fa-trash-can {
  margin: 10px;
  font-size: 15px;
  color: rgb(233, 40, 40);
}

.exercices-information-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 40px;
}

.results-info-container {
  display: flex;
  align-items: center;
}

.button-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 75px;
  font-family: var(--font);
  cursor: pointer;
}

.button-secondary {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  height: 35px;
  width: 75px;
  font-family: var(--font);
  cursor: pointer;
  margin-right: 20px;
}

.button-primary:hover {
  background-color: var(--primary-color-hover);
}

.fa-heart-pulse {
  color: rgb(233, 40, 40);
  margin-inline: 5px;
  font-size: 20px;
}

.fa-stopwatch {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
}

.muscle-groups-container {
  display: flex;
  align-items: center;
  width: 400px;
  margin-top: 10px;
}

.muscle-groups-title {
  font-size: 14px;
  margin-right: 10px;
}

.muscle-groups {
  background-color: var(--primary-color);
  margin-right: 5px;
  margin-top: 10px;
  color: white;
  border-radius: 10px;
  width: 50px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
}

.fa-facebook {
  margin-right: 10px;
  font-size: 20px;
}
